<section class="nav-main-option slide-down-panel" id="about">

	<span class="glyphicon glyphicon-remove hide-parent hide-nav top-right-x" aria-hidden=true></span>

	<div class="main-option-content">

		<div class="centered">

			<%= image_tag 'shane_randolph_photo.jpg', class:'about-image'%>
		
		</div>

		<header>Shane Randolph</header>

		<h3>Web Developer</h3>

		<br>

		<h4><b>About Me</b></h4>

		<br>

		<div class="row">

			<div class="col-xs-12 col-sm-6">

				<p>Hello! I am Shane Randolph, an economist turned web developer and UI/UX designer based in Montreal. I have worked with companies and teams all over the world assisting with the development, design, and marketing of software and web applications.</p>

				<p>I develop full-featured web applications, including eCommerce, marketplace, social media, and geolocation-enabled directory applications.</p>

			</div>


			<div class="col-xs-12 col-sm-6">

				<p>I create responsive, mobile-first designs using front-end frameworks, including <%= link_to "ReactJS", "https://facebook.github.io/react/", target: :_blank %>, <%= link_to "Bootstrap", "http://getbootstrap.com", target: :_blank %>, <%= link_to "JQuery", "https://jquery.com", target: :_blank %>, and old-fashioned, handwritten (<i>gasp!</i>) CSS media queries.</p>

				<p>I guess I should also mention that I have a B.S. in Business and an M.A. in Economics from a <%= link_to "pretty good business school", "http://miamioh.edu/fsb/", target: :_blank %>.</p>

				<p>Need help with an upcoming project or application? Learn a bit more about me and then consider hiring me.</p>

			</div>

		</div>

		<br>

		<h4><b>Technology I use</b></h4>
		
		<div class="stack-container">

			<div class="row">

				<div class="col-xs-4 col-sm-2">

					<a class="color-square">Ruby</a>

				</div>

				<div class="col-xs-4 col-sm-2">

					<a class="color-square">SASS</a>
					

				</div>

				<div class="col-xs-4 col-sm-2">

					<a class="color-square">ReactJS</a>
					

				</div>

				<div class="col-xs-4 col-sm-2">

					<a class="color-square">HTML5</a>
					

				</div>

				<div class="col-xs-4 col-sm-2">

					<a class="color-square">jQuery</a>
					

				</div>

				<div class="col-xs-4 col-sm-2">

					<a class="color-square">Javascript</a>
					

				</div>


			</div>


		</div>

		<br>

		<h5 class="centered">If you want to learn about my recent projects, <a class="action-button reveal-slide-down" data-slide-down-panel-id="projects">Click Here</a></h5>

	</div>

</section>