
<section class="reveal-panel" id="development" style="display: none;">

	<header>Development</header>

	<div>
		
		<div class="text-content">

			<p>I have developed full-featured web applications, including eCommerce, marketplace, social media, and geolocation-enabled directory applications.</p>

			<p>I work primarily with <%= link_to "Ruby", "http://rubyonrails.org", target: :_blank  %> but am also very familiar with <%= link_to "Python", "https://python.org", target: :_blank %> and <%= link_to "PHP", "http://PHP.net", target: :_blank %>.</p>

			<p>Check out some of my development projects to the right or press the button below to learn more about my design experience.</p>

		</div>

		<div class="image-content">

			<div class="centered">

				<ul class="" id="rig">

					<li>
						<a class="rig-cell show-modal" data-reveal-panel-id="artyam-page">

						<%= image_tag 'artyam_photo.PNG', class:'rig-img'%>
				        
				        <span class="rig-overlay"></span>
				        
				        <span class="rig-text">ArtYam</span>

					    </a>
					</li>

					<li>
						<a class="rig-cell show-modal" data-reveal-panel-id="servmanity-page">

						<%= image_tag 'servmanity_photo.PNG', class:'rig-img'%>
				        
				        <span class="rig-overlay"></span>
				        
				        <span class="rig-text">Servmanity</span>

					    </a>
					</li>

				</ul>

			</div>

		</div>

	</div>

	<%= render :partial => 'pages/next_page_cta', :locals => {:page_id => "design", :cta_text => "See my Design Experience"} %>

</section>

<%= render 'pages/artyam' %>

<%= render 'pages/servmanity' %>