
<section class="reveal-panel" id="design" style="display: none;">

	<header>Design</header>

	<div class="text-content">

		<p>I create responsive, mobile-first web applications using front-end frameworks, including <%= link_to "MeteorJS", "https://meteor.com", target: :_blank %>, <%= link_to "AngularJS", "https://angular.io", target: :_blank %>, <%= link_to "Bootstrap", "http://getbootstrap.com", target: :_blank %>, <%= link_to "JQuery", "https://jquery.com", target: :_blank %>, and old-fashioned, handwritten (<i>gasp!</i>) CSS media queries.</p>

		<p>Design challenges are communication challenges so everything I design is intended first and foremost to be easily understood by the end-user.  Consequently, I err towards simplicity and explicitness in design and use A/B testing to validate optimal design for user experience.</p>

		<p>Check out some of my design projects to the right or press the button below to learn more about my marketing experience.</p>

		<br>

		<a class="button blue-background click-to-reveal" data-reveal-panel-id="marketing">See my Marketing Experience <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>

	</div>

	<div class="image-content">

		<div class="centered">

			<ul class="" id="rig">

				<li>
					<a class="rig-cell show-modal" data-reveal-panel-id="comedyhere-page">

					<%= image_tag 'comedy_here_photo.PNG', class:'rig-img'%>
			        
			        <span class="rig-overlay"></span>
			        
			        <span class="rig-text">ComedyHere</span>

				    </a>
				</li>

				<li>
					<a class="rig-cell show-modal" data-reveal-panel-id="hiro-asian-kitchen-page">

					<%= image_tag 'hiro_asian_kitchen_photo.PNG', class:'rig-img'%>
			        
			        <span class="rig-overlay"></span>
			        
			        <span class="rig-text">HiroAsianKitchen</span>

				    </a>
				</li>

			</ul>

		</div>

	</div>

</section>

<%= render 'pages/comedyhere' %>

<%= render 'pages/hiro_asian_kitchen' %>