<section class="nav-main-option slide-down-panel" id="projects">

	<span class="glyphicon glyphicon-remove hide-parent hide-nav top-right-x" aria-hidden=true></span>

	<div class="main-option-content">

		<header>Projects</header>
		
		<h3>A Sample of My Recent Work</h3>

		<div class="wrapper">

			<div class="masonry">

				<%= link_to "https://www.Servmanity.com", target: :_blank do %>
					
					<div class="item">
						<h5 class="title">Servmanity</h5>
						<p class="description">On-demand home services marketplace. The application matches customers with service providers in real-time based on location, availability, service category, and price.</p>
						<h6 class="tech-stack">Tech Stack:</h6>
						<%= link_to "Ruby", "http://http://rubyonrails.org/", target: :_blank, class:'stack-item' %>
						<%= link_to "JQuery", "https://jquery.com/", target: :_blank, class:'stack-item' %>
						<%= link_to "PostgreSQL", "https://www.postgresql.org/", target: :_blank, class:'stack-item' %>
						<%= link_to "Stripe API", "https://stripe.com/docs/api", target: :_blank, class:'stack-item' %>
					</div>

				<%end%>

				<%= link_to root_path, target: :_blank do %>

					<div class="item">
						<h5 class="title">thatHQ</h5>
						<p class="description">Personalized syllabus of business book recommendations based on my favorite 60 business books.</p>
						<h6 class="tech-stack">Tech Stack:</h6>
						<%= link_to "Ruby", "http://http://rubyonrails.org/", target: :_blank, class:'stack-item' %>
						<%= link_to "JQuery", "https://jquery.com/", target: :_blank, class:'stack-item' %>
					</div>

				<%end%>

				<%= link_to root_path, target: :_blank do %>

					<div class="item">
						<h5 class="title">ArtYam</h5>
						<p class="description">Subscription software-as-a-service eCommerce platform for fine arts galleries and artists. The application features content-rich, responsive, eCommerce-enabled web pages that can be accessed by via short, human-readable URLs.</p>
						<h6 class="tech-stack">Tech Stack:</h6>
						<%= link_to "Ruby", "http://http://rubyonrails.org/", target: :_blank, class:'stack-item' %>
						<%= link_to "JQuery", "https://jquery.com/", target: :_blank, class:'stack-item' %>
						<%= link_to "Stripe API", "https://stripe.com/docs/api", target: :_blank, class:'stack-item' %>
					</div>

				<%end%>

				<%= link_to root_path, target: :_blank do %>

					<div class="item">
						<h5 class="title">ComedyHere</h5>
						<p class="description">Geocoded directory for recurring and limited engagement local comedy shows.</p>
						<h6 class="tech-stack">Tech Stack:</h6>
						<%= link_to "Ruby", "http://http://rubyonrails.org/", target: :_blank, class:'stack-item' %>
						<%= link_to "JQuery", "https://jquery.com/", target: :_blank, class:'stack-item' %>
						<%= link_to "Google Maps API", "https://developers.google.com/maps/", target: :_blank, class:'stack-item' %>
					</div>

				<%end%>

				<%= link_to root_path, target: :_blank do %>

					<div class="item">
						<h5 class="title">Scoreboard Interface</h5>
						<p class="description">An mockup of a generic game scoreboard.</p>
						<h6 class="tech-stack">Tech Stack:</h6>
						<%= link_to "NodeJS", "https://nodejs.org", target: :_blank, class:'stack-item' %>
						<%= link_to "React", "https://facebook.github.io/react/", target: :_blank, class:'stack-item' %>
						<%= link_to "Redux", "http://redux.js.org", target: :_blank, class:'stack-item' %>
					</div>

				<%end%>

			</div>

		</div>

		<br>
		
		<h5 class="centered">If you want to get in touch with me, <a class="action-button reveal-slide-down" data-slide-down-panel-id="contact">Contact Me</a></h5>

	</div>

</section>

<%= render 'pages/comedyhere' %>

<%= render 'pages/artyam' %>

<%= render 'pages/servmanity' %>

<%= render 'pages/thathq' %>