<section class="nav-main-option slide-down-panel" id="projects">

	<span class="glyphicon glyphicon-remove hide-parent hide-nav top-right-x" aria-hidden=true></span>

	<div class="main-option-content">

		<header>Projects</header>
		
		<h3>A Sample of My Recent Work</h3>

		<br>


		<div class="centered">

			<ul class="" id="rig">

				<li>
					<a class="rig-cell show-modal" data-reveal-panel-id="thatHQ-page">

					<%= image_tag 'that_hq_photo.png', class:'rig-img'%>
			        
			        <span class="rig-overlay"></span>
			        
			        <span class="rig-text">thatHQ</span>

				    </a>
				</li>

				<li>
					<a class="rig-cell show-modal" data-reveal-panel-id="comedyhere-page">

					<%= image_tag 'comedy_here_photo.PNG', class:'rig-img'%>
			        
			        <span class="rig-overlay"></span>
			        
			        <span class="rig-text">ComedyHere</span>

				    </a>
				</li>

				<li>
					<a class="rig-cell show-modal" data-reveal-panel-id="servmanity-page">

					<%= image_tag 'servmanity_photo.PNG', class:'rig-img'%>
			        
			        <span class="rig-overlay"></span>
			        
			        <span class="rig-text">Servmanity</span>

				    </a>
				</li>


				<li>
					<a class="rig-cell show-modal" data-reveal-panel-id="artyam-page">

					<%= image_tag 'artyam_photo.PNG', class:'rig-img'%>
			        
			        <span class="rig-overlay"></span>
			        
			        <span class="rig-text">ArtYam</span>

				    </a>
				</li>

			</ul>

		</div>

	</div>

</section>

<%= render 'pages/comedyhere' %>