<div class="left-block">
	<div class="main-image-container">
		<%= image_tag 'shane_randolph_photo.jpg', class:'home-main-image'%>
	</div>
	<h1>Shane Randolph</h1>
	<br><br>
	<nav class="main-menu">
		<a class="menu-option active click-to-reveal" data-reveal-panel-id="welcome">Welcome</a>
		<a class="menu-option click-to-reveal" data-reveal-panel-id="development">Development</a>
		<a class="menu-option click-to-reveal" data-reveal-panel-id="design">Design/UI</a>
		<a class="menu-option click-to-reveal" data-reveal-panel-id="marketing">Marketing</a>
		<a class="menu-option click-to-reveal" data-reveal-panel-id="contact">Contact</a>
	</nav>
</div>

<div class="right-block">
	
	<%= render 'pages/home_welcome' %>

	<%= render 'pages/home_development' %>

	<%= render 'pages/home_design' %>

	<%= render 'pages/home_marketing' %>

	<%= render 'pages/home_contact' %>

</div>