<div class="left-block">
	
	<%= link_to root_path do %>
		<div class="main-image-container">
			<%= image_tag 'shane_randolph_photo.jpg', class:'home-main-image'%>
		</div>
		<h1>Shane Randolph</h1>
	<%end%>

	<br><br>
	<nav class="main-menu">
		<a class="menu-option active click-to-reveal" data-reveal-panel-id="welcome">Welcome</a>
		<a class="menu-option click-to-reveal" data-reveal-panel-id="development">Development</a>
		<a class="menu-option click-to-reveal" data-reveal-panel-id="design">Design/UI</a>
		<a class="menu-option click-to-reveal" data-reveal-panel-id="marketing">Marketing</a>
		<a class="menu-option click-to-reveal" data-reveal-panel-id="contact">Contact</a>
	</nav>
</div>

<div class="left-block-offset mobile-only">

</div>

<div class="fixed-nav mobile-only">

	<span class="click-to-reveal active" data-reveal-panel-id="welcome">Welcome</span>
	<span class="click-to-reveal" data-reveal-panel-id="development">Development</span>
	<span class="click-to-reveal" data-reveal-panel-id="design">Design</span>
	<span class="click-to-reveal" data-reveal-panel-id="marketing">Marketing</span>
	<span class="click-to-reveal" data-reveal-panel-id="contact">Contact</span>

</div>

<div class="right-block">
	
	<%= render 'pages/home_welcome' %>

	<%= render 'pages/home_development' %>

	<%= render 'pages/home_design' %>

	<%= render 'pages/home_marketing' %>

	<%= render 'pages/home_contact' %>

</div>